.contact {
	padding-bottom: 8rem;

	@include respond-to(small) {
		padding-bottom: 9.6rem;
		padding-top: 5rem;
	}
	@include respond-to(large) {
		padding: 10rem 0;
	}

	.contact__heading {
		padding: 2.4rem 0 3.2rem;
		border-top: 1px solid rgba($primary-gray, 0.15);
		border-bottom: 1px solid rgba($primary-gray, 0.15);
		margin-bottom: 3rem;

		@include respond-to(small) {
			padding-top: 3rem;
		}
		@include respond-to(large) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 4.6rem;
			padding: 4.8rem 0;
		}
	}

	.contact__title {
		margin-top: 0;
		margin-bottom: 2.4rem;

		@include respond-to(large) {
			width: 31.5%;
		}
	}

	.contact__content {
		@include respond-to(large) {
			width: 57.2%;
		}
	}

	.contact__tagline {
		margin-top: 0;
		margin-bottom: 2.4rem;
	}

	.socials {
		width: 60px;
		display: flex;
		justify-content: space-between;

		.social:hover path {
			fill: $primary-green;
		}
	}

	.contact__form-container {
		@include respond-to(large) {
			display: flex;
			justify-content: space-between;

			.contact__form {
				width: 57.2%;
			}
		}

		.form__title {
			margin-top: 0;
			margin-bottom: 2.4rem;
		}
	}
}
