.hero {
	padding-bottom: 9.6rem;

	.hero__content {
		background: url(../../images/homepage/mobile/homepage-hero.jpg) no-repeat
			top left/cover;
		height: 30vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@include retina {
			background: url(../../images/homepage/mobile/homepage-hero@2x.jpg)
				no-repeat top left/cover;
		}

		@include respond-to(small) {
			background: url(../../images/homepage/tablet/homepage-hero.jpg) no-repeat
				top left/cover;

			height: 50vh;

			@include retina {
				background: url(../../images/homepage/tablet/homepage-hero@2x.jpg)
					no-repeat top left/cover;
			}
		}
		@include respond-to(medium) {
			background: url(../../images/homepage/desktop/homepage-hero.jpg) no-repeat
				center/cover;
			height: 65vh;

			@include retina {
				background: url(../../images/homepage/desktop/homepage-hero@2x.jpg)
					no-repeat center/cover;
			}
		}
	}

	.hero__title {
		margin-top: 4rem;
		margin-bottom: 0;

		@include respond-to(small) {
			margin-top: 0;
		}
	}

	.hero__tagline {
		margin-top: 0;
		margin-bottom: 0;
		font-family: $heading-font;
	}
}
