.project {
	.project__hero {
		width: 100%;
	}

	.project__content {
		padding-top: 4rem;

		@include respond-to(large) {
			display: flex;
			justify-content: space-between;
			padding-top: 11.5rem;
		}
	}

	.project__heading {
		padding: 2.4rem 0;
		border-top: 1px solid rgba($primary-gray, 0.15);
		border-bottom: 1px solid rgba($primary-gray, 0.15);

		@include respond-to(small) {
			position: relative;
			padding: 3rem 0;
		}
		@include respond-to(large) {
			width: 31.5%;
		}
	}

	.project__title {
		margin-top: 0;
		margin-bottom: 2.4rem;
	}

	.project__tagline {
		margin-top: 0;
		margin-bottom: 2.4rem;

		@include respond-to(small) {
			position: absolute;
			top: 3rem;
			right: 0;
			width: 50%;
			margin-bottom: 0;
		}
		@include respond-to(large) {
			position: static;
			width: 100%;
			margin-bottom: 2.4rem;
		}
	}

	.info__tagline {
		font-size: 1.3rem;
		color: $primary-green;
		margin: 0;
	}

	.btn {
		display: inline-block;
		margin-top: 2.4rem;
	}

	.project__background {
		padding-top: 4.8rem;

		@include respond-to(large) {
			width: 57%;
			padding-top: 0;
		}

		.background__title {
			margin-top: 0;
			margin-bottom: 2.8rem;
		}

		.background__tagline {
			margin: 0;
		}

		.background__previews {
			padding: 4rem 0 6.4rem;
		}

		.previews__title {
			margin-top: 0;
			margin-bottom: 4rem;
		}

		.preview-1,
		.preview-2 {
			width: 100%;
		}

		.preview-1 {
			margin-bottom: 3.2rem;
		}
	}
}
