button {
	cursor: pointer;
}

.btn {
	padding: 1.6rem 3.2rem;
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn--primary {
	border: 1px solid $primary-gray;
	color: $primary-gray;
	background: transparent;
	transition: background 0.3s ease-in;

	&:hover {
		background: $primary-gray;
		color: #fff;
	}
}

.btn--primary-blue {
	border: 1px solid $primary-blue;
	color: #fff;
	background: $primary-blue;
	transition: background 0.3s ease-in;

	&:hover {
		background: $primary-green;
		border-color: $primary-green;
	}
}
